*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background-color: black;
    font-family:sans-serif;
    height: 2000px;
}

.info h3{
    color: white;
}

.navbar{
    display:flex;
    width:86%;
    margin:auto; 
    padding:15px 0;
    align-items:center;
    justify-content: space-between;
    top:4px;
}

.navbar .logo{
    color: cyan;
}

.skill ul{
    list-style: none;
    color: rgb(224, 240, 0);
}

.skill{
    text-align: center;
    transition:.9s ease;
    border: 5px solid darkorange;
    border-radius: 25px;
    width:305px;
    padding: 0.75rem;
    margin: 0 auto;
}

.skill li{
    border: 2px solid darkorange;
    border-radius: 100px;
}

.skill:hover{
    transform: rotate(351deg);
    transition: border 11s ease;
}

.skill h2{
    border: 2px solid darkorange;
    width: 60px;
    margin:0 auto ;
    border-radius: 25px;
    color: darkorange;;
}

.skill h3{
    color: darkorange;
}

.skill li:hover{
    color:blue;
    transition-property: color;
    transition: 1s ease;
}

ul{
    margin-top:-1%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding:10px 16px;
}

ul li a{
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    color:darkslategray;
    margin-top:-3%;
    transition: .4s ease;
}

ul li a:hover{
    color:rgb(230,140,59);
}

.info{
    margin-left:7%;
    margin-top:6%;
}

.info h1{
    font-size:65px;
    color:rgb(36,32,30);
}

.info h3{
    font-size:18px;
    letter-spacing:1px;
    line-height:24px; 
    font-weight: 100;
}

.info span{
    color:rgb(230,104,59);
}

.info a{
    text-decoration:none;
    color:#fff;
    background:rgb(26,32,30);
    margin:26px 0;
    padding:10px 18px;
    border-radius:10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background:rgb(59,174,209);
}

.project {
    margin: 50px auto;
    border: 2px solid cyan;
    border-radius: 25px;
    width: 350px;
    text-align: center;
    color: cyan;
    transition: all 2.5s ease;
}

.project:hover{
    border-width: 25px;
    transform: scaleX(30px);
}

.project div{
    margin:20px;
    font-size: 30px;
    font-weight: 2px;
    color: white;
}

.about_me{
    border: 2px solid rgb(14, 80, 221);
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
}

.about_me h3{
    color: rgb(89, 0, 255);
}

.about_me:hover{
    border-radius: 100px;
    width: 25%;
    transform: scaleX(30px);
    transition: border-radius 10s,width 3s ease;

}

#detail{
    font-family: 'Segoe UI', sans-serif;
    color: lime;
}
